{% extends 'base.html' %} 
{% import 'macros.html' as macro%}

<!-- content block -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3" style="border: 1px solid skyblue; border-radius: 15px; margin-right: 10px;">
            <div class="d-flex justify-content-center text-center">
                <h3 style="font-weight: bolder;">{{category.name}}</h3>
                <hr>
                <a class="btn btn-primary text-center text-danger " href="/category/new-pitch/{{category.id}}"> Post Pitch</a>
                
            </div>
            <br>
        </div>
        <div class="col-md-8" style="border: 1px solid skyblue; border-radius: 15px;">
            <div style="margin-left: 18px;">
                {% if pitches %}
                <div>
                    {{ macro.displayPitches(pitches)}}
                </div>
                {%else%}
                <div>
                    <h4 style="padding:10%; text-align:center; font-size:50px">No Pitches in this category yet. You can post a pitch by clicking the button above.</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}