{% macro displayCategoryList(category_list) %}
{% for category in category_list%}
<div>

    <a href="{{url_for('.category',id=category.id)}}">
        <p>{{category.name}}</p>
    </a>
</div>

{% endfor %}
{% endmacro %}

{% macro displayPitches(pitch_list) %}
{% for pitches in pitch_list %}
<div class="">
    <div>
        <div class="row">
            <p>{{pitches.name}}</p>
            <div class="">
                <h3>{{pitches.content}}</h3>
                <a class="btn btn-sm btn-primary mx-2" href=" {{url_for('.view_pitch',id=pitches.id)}}">Read Comments</a>

                <a class="btn btn-sm btn-primary mx-2" href=" {{url_for('.post_comment',id=pitches.id)}}">
                    Comment
                </a>
                <br><br>
                <div>
                    
                    <a class="btn text-success" href="{{url_for('.upvote',id=pitches.id)}}">Upvote <span
                        class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{pitches.upvote.count()}}</span> </a>
                    
                
                    <a class="btn text-danger" href="{{url_for('.downvote',id=pitches.id)}}">Downvote <span
                        class="glyphicon glyphicon-thumbs-down" aria-hidden="true">{{pitches.downvote.count()}}</span> </a>
                    
                            
                </div>
                
            </div><br>
        </div>
        <hr>
    </div>
    {% endfor %}
    {% endmacro %}


    {% macro displaySpecificPitch(specific_pitch_list) %}
    {% for comment in specific_pitch_list %}
    <div class="">
        <hr>
        <p>{{comment.comment}} </p>
        <p style="text-align:end; color:#555652; font-size:10px;">{{comment.time_commented.strftime('%Y/%m/%d - %r') }}</p>
    </div>
    {% endfor %}
    {% endmacro %}